page-shot {

	.scroll-content{
		padding: 0px !important;
		overflow: hidden;
	}

	.shot-module{
		height: 100%;
	}

	.shot-box{
		height: 100%;
		position: relative;
	}

	.take-picture-wrap{

		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 2px;

		button{
			position: relative;
			z-index: 5;
			width: 50px;
			height: 50px;
			border-radius: 100%;
			float: right;
			margin-right: 5px;
			margin-bottom: 5px;

			.icon{
				font-size: 1.5em;
			}
		}
	}

	.taken-images{

		position: absolute;
		z-index: 10;
		height: 80%;
		width: 100%;
		left: 0px;
		top: 0px;
		overflow-y: auto;

		ion-card{
			position: relative;

			ion-icon{
				position: absolute;
				right: 0px;
				bottom: 0px;
				width: 30px;
				height: 30px;
				color: white;
				background-color: rgba(0,0,0,0.8);
				text-align: center;
				line-height: 30px;
			}
		}
	}

	.shot-img-overlay{
		height: 100%;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;

		&:before{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0px;
			top: 0px;
			z-index: 1;
			background-color: rgba(0,0,0,0.8);
			content: ' ';
			display: block;
		}
	}

}
