page-gallery {

	.gallery-module{
		margin-left: -$standard-gap;
		margin-right: -$standard-gap;
		font-family: $primary-font;
		font-size: 20px;
		.gallery-module-block{
			padding: $standard-gap;
			background-color: $app-primary-color;
			margin-top: $standard-gap;
		}

		.gallery-primary-info{
			.gallery-dp{
				display: inline-block;
				vertical-align: middle;
				background-size: cover;
				background-position: center top;
				background-repeat: no-repeat;
				width: 100px;
				height: 100px;
				margin-right: $standard-gap;
			}

			.gallery-info{

				display: inline-block;
				vertical-align: middle;
				color: white;
				font-weight: $primary-font-regular;
				max-width: 70%;

				p{
					margin-top: 0px;
					margin-bottom: 5px;
				}

				span{
					font-weight: $primary-font-light;
					font-size: 16px;
				}
			}


		}

		.gallery-action{

			text-align: center;
			margin-left: -5px;
			margin-right: -5px;
			margin-top: $standard-gap;

			.action-button{
				padding: 0 5px;
				width: 50%;
				float: left;

				button{
					width: 100%;
					margin: 0px;
				}
			}
		}
		
	}

}
