page-detail {

	.gallery-module-detail{

		margin-left: -$standard-gap;
		margin-right: -$standard-gap;

	}

	.gallery-img-in-dtl{
		margin-bottom: $standard-gap;
	}

	.gallery-info-dtl{
		text-align: center;
	}

}
